/Semana 0/Ejemplo0/nbproject/private/
/Semana 0/Ejemplo0/build/
/Semana 0/Ejemplo1/nbproject/private/
/Semana 0/Ejemplo1/build/
/Semana 0/EjemploFactorial/nbproject/private/
/Semana 0/EjemploFactorial/build/
/Semana 0/JavaApplication4/nbproject/private/
/Semana 0/JavaApplication4/build/
/Semana 2/Principal/nbproject/private/
/Semana02_Ejemplos-20220802T215226Z-001/Primobj1/nbproject/private/
/Semana 2/Principal/build/
/Semana 3/Solidos/nbproject/private/
/Semana 3/Solidos/build/
/Semana02_Ejemplos-20220802T215226Z-001/Semana02_Ejemplos/Menu/nbproject/private/
/Semana02_Ejemplos-20220802T215226Z-001/Semana02_Ejemplos/Menu/build/
/Semana 4/solidosconIO/JavaApplication9/nbproject/private/
/Semana 4/solidosconIO/Solidos2/nbproject/private/
/Semana 4/solidosconIO/SolidosconIO/nbproject/private/
/Semana 4/solidosconIO/SolidosconIO/build/
/Semana 5/UsaCurso/nbproject/private/
/Semana 5/UsaCurso/build/
/tareas/tareas/nbproject/private/
/tareas/tareas/build/
/tareas/JavaApplication13/nbproject/private/
/tareas/JavaApplication13/build/
/tareas/EjemploClases/nbproject/private/
/GUI/EjemploGUI/nbproject/private/
/GUI/EjemploGUI/build/
/Semana 8/EjemploClases/build/
/tareas/ManejaViviendas/nbproject/private/
/Semana 9/Semana9/nbproject/private/
/Semana 9/Semana9/build/