/Semana 0/Ejemplo0/nbproject/private/
/Semana 0/Ejemplo0/build/
/Semana 0/Ejemplo1/nbproject/private/
/Semana 0/Ejemplo1/build/
/Semana 0/EjemploFactorial/nbproject/private/
/Semana 0/EjemploFactorial/build/
/Semana 0/JavaApplication4/nbproject/private/
/Semana 0/JavaApplication4/build/
/Semana 2/Principal/nbproject/private/
/Semana02_Ejemplos-20220802T215226Z-001/Primobj1/nbproject/private/
/Semana 2/Principal/build/
/Semana 3/Solidos/nbproject/private/
/Semana 3/Solidos/build/
/Semana02_Ejemplos-20220802T215226Z-001/Semana02_Ejemplos/Menu/nbproject/private/
/Semana02_Ejemplos-20220802T215226Z-001/Semana02_Ejemplos/Menu/build/